@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {background-size: contain;
    
    background-image: url(icons/EXPENSE.png)  ;
    background-blend-mode: soft-light ;
    opacity: 100%;
    background-attachment: scroll;
    background-position-y: 120px;
    background-repeat: no-repeat ;
        
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
    font-size: 100px;
    color: black;
  letter-spacing: 1px;
  margin: 0;

}
h2 {font-size: 60px;
  
    font-variant: small-caps;
    color:darkorange;
    font-style: unset;

}
h3 {
   
    color:darkred;
    text-transform: uppercase;
    
    font-size: 25px;
    font-weight: bolder;
  border-bottom: 2px solid #bbb;
  padding-bottom: 7px;
  margin: 30px 0 10px;
}
h4 {
    padding-bottom: 10px;
    font-weight: 1800;
  margin: 0;
  color: black;
  text-decoration: forestgreen;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: white;
  
  padding: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus { font-size: 25px;
    font-weight: bolder;
  color:green;
}

.money.minus {
    font-size: 25px;
    font-weight: bolder;
  color: #c0392b;
}

label {font-size: 16px;
    color:black;
    font-weight: bolder;
  display: inline-block;
  margin: 27px 0;
}

input[type='text'],
input[type='number'] {
  border: 3px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
    
    font-size: 25px;
    font-display: center;
    
  cursor: pointer;
  background-color:green;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  padding: 13px;
  border-radius: 8px;
  margin: 10px 0 0px;

  width: 100%;
}


.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid #2ecc71;
}

.list li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 1;
}
